*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: Roboto;
}

.header {
  padding: 48px 16px;
  max-width: 800px;
  margin: 0 auto;
  background-color: lemonchiffon;
  text-align: center;
  border-bottom: 2px solid #000;
}

#experiences section {
  border: 1px solid #000;
  margin-bottom: 16px;
  padding: 16px;
}

.main {
  padding: 16px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #bdb5a9;
}

ul {
  list-style-type: none;
}

.h {
  font-family: monospace;
}

#contact {
  padding: 5px;
  margin-bottom: 8px;
}

.contact {
  list-style-type: none;
}

.skill {
  list-style-image: url("image.png");
  margin-bottom: 8px;
}

a:link {
  color: cornflowerblue;
  text-decoration: none;
}

a:visited {
  color: salmon;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: aquamarine;
}
